*{
    margin: 0;
    padding: 0;
}

.content{
    opacity: 0;
    transform: scale(0.5);        
    transition: opacity 0.5s ease, transform 1s ease;
      
}
.content.show {
    opacity: 1;
    transform: scale(1);      
}

@font-face {
    font-family: 'articapro';
    src: url('./font/ArticaPro-Bold.woff2') format('woff2');
    /* Add more formats if necessary */
}
@font-face {
    font-family: 'articapro-l';
    src: url('./font/ArticaPro-Light.woff2') format('woff2');
}
body{
    background: url(./image/bg1.jpg)  ; /*no-repeat*/
    background-size: auto;
    background-position: center;
    margin: 0;
    overflow: hidden;
}


#nav-items {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
    background-color:black;
    list-style: none;
    padding: 20px;
}
#nav-items #icon{
    text-decoration: none;
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.item{
    text-decoration: none;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size:x-large;
    margin: 10px;
    position: relative;
}

.item:hover{
    color: red;
}
.active{
    border-bottom: 4px solid red;
    padding-bottom: 4px;
}

#container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#text{
    color: lavender;
    align-self: center;
    font-size: x-large;
    font-family: 'articapro', sans-serif;
}
#text h4{
    font-family: 'articapro-l', sans-serif;
}
#pic{
    position: relative;
    /* border: 5px solid gold; */
}

#pic:hover .hover-img {
    display: block;
}
.hover-img{
    display: none;
    position: absolute;
    top: 0;
    /* left: 0; */
}

#pic img {
    transition: opacity 0.2s ease-out;
  }
#pic:hover .original-img {
    opacity: 0;
}


#container1{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 50px;
    font-size: x-large;
}
#mix h1{
    margin: 10px;
    padding-left: 30px;
}
#mix img{
    margin-right: 10px;
}
.social{
    padding: 20px;
}
#mix .social a{
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-family: 'articapro-l', sans-serif;
    font-size: larger;
    font-weight: bold;
}
#mix .social a:hover{
    color: red;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
#contact{
    padding: 20px;
    max-width: 450px;
    font-family: 'articapro-l', sans-serif;
    font-weight: bold;
}
#contact h2{
    font-family: 'Times new roman', sans-serif;
}
#contact h3{
    padding: 10px;
    padding-bottom: 0;
}
#contact h3 a{
    text-decoration: none;
    color: white;
}
#contact a:hover{
    color: red;
}

.address span{
    display: block;
    margin-left: 120px;
}


#container2{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 50px;
    font-size: x-large;
    font-family: 'articapro', sans-serif;
    /* font-weight: bold; */
}
#container2 p{
    font-family: 'articapro-l', sans-serif;
    font-weight: bold;
}
#container2 .hs span{
    display: block;
    margin-left: 190px;
}

#container2 .l{
    margin-left: 100px;
}
#container2 .clg{
    padding-top: 50px;
}

#container3{
    display:flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 50px;
    font-size: xx-large;
    font-family: 'articapro', sans-serif;
}

#skill li{
    font-family: 'articapro-l', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

#container4{
    display:flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 20px;
    font-size: x-large;
    font-family: 'articapro', sans-serif;
}
.certificate{
    max-width: 640px;
}

.certificate li{
        font-family: 'articapro-l', sans-serif;
        font-weight: bold;
        margin-top: 10px;
}

.certificate ul li a{
    text-decoration: none;
    color: white;
}
.certificate ul li a:hover{
    color: red;
}

#container4 .two{
    padding-top: 65px;
}


#container5{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    color: white;
    margin-left: 50px;
}

#p2{
    margin-top: 5px;
}
.project{
    margin-top: 15px;
}
.project h2{
    font-family: 'articapro', sans-serif;
}
.project h3{
    font-family: 'articapro-l', sans-serif;
    font-weight: bold;
}
.project a{
    text-decoration: none;
    color: white;
}
.project a:hover{
    color: red;
}
.project ul{
    margin-left: 20px;
}

#more{
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 5px;
}
#more h4 a{
    text-decoration: none;
    color: white;
}
#more h4 a:hover{
    color: red;
}